<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p>
            I am also Mehar!
        </p>
    
        Enter name
        <br>
        <form action="getData" method="post">
            <input name="name" type="text">
            <button type="submit">Submit</button>
        </form>
    
    
        <div id="printdd">
        </div>
    
    </div>
</body>
</html>
